<div class="bg-image"></div>

<div class="bg-text">
  <h1>Welcome to 3maret El Hana</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"name="email"[(ngModel)]="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control " name="password"[(ngModel)]="password"id="exampleInputPassword1" placeholder="Password">
    </div>
    <span class="wrongmail" #wrong>Wrong mail or password! Please try again.<br><br> </span>
    <button type="submit" (click)="logIn()"class="btn btn-danger">Submit</button>
  </form>
</div>